<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./CSS/style.css">
		<title>Document</title>

	</head>
	<body>
		<div class="header">
			<div class="progress-container">
				<div class="progress-bar" id="myBar"></div>
			</div>
		</div>
		{#------------------------------------- Header  ----------------------------------#}
		<header>
			<h1>
				<img src="./img/Group 38.png" alt="MGOMRI Dhoimir">
			</h1>
			<nav>

				<ul>
					<li class="head">
						<a href="#one">Accueil</a>
					</li>
					<li class="head">
						<a href="#two">About</a>
					</li>
					<li class="head">
						<a href="#three">Skills</a>
					</li>
					<li class="head">
						<a href="#four">Education</a>
					</li>
					<li class="head">
						<a href="#five">Exprérience</a>
					</li>
					<li class="head">
						<a href="#six">My project</a>
					</li>
					<li class="head">
						<a href="#seven">Contact</a>
					</li>
				</ul>

			</nav>
		</header>
		<main>
			{#---------------------------------------- Introduction ----------------------------------#}
			<div id="one">
				<section id="introduction">
					<div id="text">
						<p id="hello">Bonjour,</p>
						<p>
							<span id="hello">Je suis Dhoimir</span>
							<span id="name">MGOMRI</span>
						</p>
						<p id="web">WEBMASTER</p>

						<button id="about">
							<span id="me">
								<a href="#two">About Me</a>
							</span>
							<span><img id="arow" src="./img/fleche-vers-le-bas.png" height="20px" alt="fleche"></span>
						</a>
					</button>

				</div>
				<div id="bitmoji">
					<img src="./img/bitmoji.png" alt="bitmoji" class="bitmoji">
				</div>
			</section>
			<div
				id="part">
				<!-- particles.js container -->
				<div id="particles-js"></div>
				<!-- stats - count particles -->
				<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
				<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
				<!-- stats.js lib -->
				<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
			</div>
		</div>
		{#---------------------------------------- A propos ----------------------------------#}
		<section id="two">

			<h2 class="title1">
				<p>
					About<span id="color">Me</span>
				</p>
				<img src="./img/bonhome.png" alt="bonhome">
			</h2>

			<div id="txt">
				<div class="card">
					<img id="identity" src="./img/IMG_6760.jpg" alt="identity">
				</div>
				<p>
					<span id="cr">Créativité</span>, réflexion ce sont les mots qui me caractérise<br>
					en tant que webmaster.
					<br>
					Issue d’une reconversion professionelle à la suite d’une
																																			                    longue expérience dans l’aeronautique,
					<br>j’ai choisi
																																			                    de revenir à la passion de mon adolesance.<br>
					J’aime beaucoup travailer avec JavaScript et voir ce qui en
																																			                    découle sur les pages WEB.<br>
					Mes stacks favorites sont JS, Python, et PHP.
				</p>
			</div>
		</section>
		{#---------------------------------------- Skills ----------------------------------#}
		<section id="three">
			<h2 class="title2">
				<img src="./img/skills.png" id="Skills" alt="skills">
				<p id="sk">Skills</p>
			</h2>
			<div id="logiciel">
				<div class="stack">
					<img id="logPicture" src="./img/html.png" width="69px" height="69px" alt="html">
					<p id="html">HTML</p>
				</div>
				<div class="stack">
					<img id="logPicture" src="./img/css.png" width="69px" height="69px" alt="html">
					<p id="css">CSS</p>
				</div>
				<div class="stack">
					<img id="logPicture" src="./img/js.png" width="69px" height="69px" alt="html">
					<p id="js">JAVASCRIPT</p>
				</div>
				<div class="stack">
					<img id="logPicture" src="./img/bootsrap.png" width="69px" height="69px" alt="html">
					<p id="boot">BOOTSTRAP</p>
				</div>
				<div class="stack">
					<img id="logPicture" src="./img/figma.png" width="69px" height="69px" alt="html">
					<p id="figma">FIGMA</p>
				</div>
			</div>
		</section>
		{#---------------------------------------- Education ----------------------------------#}
		<section id="four">
			<h2 class="title2">
				<img src="./img/education.png" id="education" alt="education">
				<p id="sk">Education</p>
			</h2>
			<div class="carousel-container">
				<div class="carousel-box">
					<div class="carousel">
						<img class="pu" src="./img/estaque.webp" alt="Foto-1"/>
						<div class="testimonial">
							<p class="testimonial-text">
								Baacalaureat Electrotechnique
							</p>
							<p class="testimonial-author">Lycée L’estaque
							</p>
							<p class="testimonial-job">
								2007 - 2009
							</p>
						</div>
					</div>
				</div>

				<div class="carousel-box">
					<div class="carousel">
						<img class="pu" src="./img/artaud.jpg" alt="foto-2"/>
						<div class="testimonial">
							<p class="testimonial-text">
								Brevet Technicien Superieur Electrotechnique

							</p>
							<p class="testimonial-author">Lycée Antonin Artaud</p>
							<p class="testimonial-job">
								2009 - 2011
							</p>
						</div>
					</div>
				</div>

				<div class="carousel-box">
					<div class="carousel">
						<img class="pu" src="./img/ri7-new.jpg" alt="Foto-3"/>
						<div class="testimonial">
							<p class="testimonial-text">
								Titre RNCP Niveau 6.

							</p>
							<p class="testimonial-author">Ecole Supérieur du numérique Ri7</p>
							<p class="testimonial-job">2022 - 2023</p>
						</div>
					</div>
				</div>

				<button class="btn btn--left" onclick="plusSlides(-1)">
					<svg xmlns="http://www.w3.org/2000/svg" class="btn-icon" fill="none" viewbox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
					</svg>
				</button>
				<button class="btn btn--right" onclick="plusSlides(1)">
					<svg xmlns="http://www.w3.org/2000/svg" class="btn-icon" fill="none" viewbox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
					</svg>
				</button>

				<div class="dots">
					<span class="dot dot--fill" onclick="currentSlide(1)"></span>
					<span class="dot dot--fill" onclick="currentSlide(2)"></span>
					<span class="dot dot--fill" onclick="currentSlide(3)"></span>
				</div>
			</div>
		</section>
		{#---------------------------------------- Expérience ----------------------------------#}
		<section id="five">
			<h2 class="title3">
				<img src="./img/experience.png" alt="experience">
				<p id="ex">Expérience</p>
			</h2>

			<div class="box-timeline">

				<div class="ligne"></div>
				<div class="rond r1" data-anim="1">
					<img src="./img/experience.png" width="51px" alt="exp">
				</div>
				<div class="rond r2" data-anim="2"><img src="./img/experience.png" width="51px" alt="exp"></div>
				<div class="rond r3" data-anim="3"><img src="./img/experience.png" width="51px" alt="exp"></div>
				<div class="rond r4" data-anim="4"><img src="./img/experience.png" width="51px" alt="exp"></div>
				<div class="rond r5" data-anim="5"><img src="./img/experience.png" width="51px" alt="exp"></div>
				<div class="rond r6" data-anim="6"><img src="./img/telecharger.png" width="51px" alt="exp"></div>
				<div class="r7">
					<p>Telecharger CV</p>
				</div>

				<div class="box b1" data-anim="1">
					<h2>AIRBUS HELICOPTER</h2>
					<p>
						Agent methode
						<br>
						2012-2018
					</p>
				</div>
				<div class="box b2" data-anim="2">
					<h2>BOMBARDIER (CANADA)</h2>
					<p>
						Agent methode
						<br>
						2018-2019
					</p>
				</div>
				<div class="box b3" data-anim="3">
					<h2>ITER ORGANISATION</h2>
					<p>
						Dessinateur projeteur
						<br>
						2019-2020
					</p>
				</div>
				<div class="box b4" data-anim="4">
					<h2>AIRBUS HELICOPTER</h2>
					<p>
						Definition Electrique
						<br>
						2020-2022
					</p>
				</div>
				<div class="box b5" data-anim="5">
					<h2>RI7</h2>
					<p>
						Full Stack Developer
						<br>
						Depuis 2022
					</p>
				</div>
			</div>
		</section>
		{#---------------------------------------- My project ----------------------------------#}
		<section id="six">
			<h2 class="title4">
				<img src="./img/project.png" alt="project">
				<p id="edy">My</p>
				<span>Project</span>
			</h2>
			<div id="image">
				{% for project in projects %}
					<div class="project-container">
						<img src="./uploads/{{project.img}}" width="400px" alt="puissance4">
						<div class="project-card">
							<h2 class="project-title">{{project.name}}</h2>
							<div class="project-description">
								<div class="link-project">
									<a href="{{project.url}}" target="_blank">
										<button>view</button>
									</a>
									<a href="{{project.githuburl}}" target="_blank">
										<button>code</button>
									</a>
								</div>
								<p class="description">{{project.description|default('aucune description')}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>

		{#------------------------------------- Contact  ----------------------------------#}
		<section id="seven">
			<h2 class="title5">
				<img src="./img/casque.png" alt="contact">

				<p id="edyt">Contactez</p>
				<span>Moi</span>
			</h2>
			<div id="form">
				<img src="./img/job-transformed 1.png" alt="picture-job">

				<form id="formulaire" action="">
					<div><input type="text" id="nameP" placeholder="Name" name="name"></div>
					<div><input type="text" id="email" placeholder="Email" name="email"></div>
					<div><input type="text" id="phone" placeholder="Phone" name="phone"></div>
					<div>
						<textarea name="message" id="message" placeholder="Message"></textarea>
					</div>
					<button id="about">
						<span id="me">Envoyer</span>
						<span><img id="arow" src="./img/sent.png" height="20px" alt="fleche"></span>
					</button>
				</form>


			</div>
		</section>
	</body>
</html></main>{#------------------------------------- Footer  ----------------------------------#}<footer>
<div class="containerPrincipal">

	<div class="containerOne">
		<h2>MGOMRI Portfolio</h2>
		<p>Merci d’avoir visité le site Web de mon portfolio.
			<br>
			Vous pouvez
			<br>
			communiquez avec moi via mes reseaux sociaux
			<br>
			ou le formulaire de contact.
		</p>
	</div>

	<div class="containerTwo">
		<h2>Liens</h2>
		<ul>
			<li class="yellovw">
				<img src="./img/fleche-droite 2.png" alt="fle">
				<a href="#one">Accueil</a>
			</li>
			<li class="yellovw">
				<img src="./img/fleche-droite 2.png" alt="fle">
				<a href="#two">About</a>
			</li>
			<li class="yellovw">
				<img src="./img/fleche-droite 2.png" alt="fle">
				<a href="#three">Skills</a>
			</li>
			<li class="yellovw">
				<img src="./img/fleche-droite 2.png" alt="fle">
				<a href="#four">Education</a>
			</li>
			<li class="yellovw">
				<img src="./img/fleche-droite 2.png" alt="fle">
				<a href="#five">Exprérience</a>
			</li>
			<li class="yellovw">
				<img src="./img/fleche-droite 2.png" alt="fle">
				<a href="#six">My project</a>
			</li>
			<li class="yellovw">
				<img src="./img/fleche-droite 2.png" alt="fle">
				<a href="#seven">Contact</a>
			</li>
		</ul>
	</div>

	<div class="containerThree">
		<h2>Contact</h2>
		<ul>
			<li>
				<img src="./img/tel.png" alt="tel">07.XX.XX.XX.XX</li>
			<li>
				<img src="./img/@.png" alt="mail">dhoimir.mgomri@gmail.com</li>
		</ul>
		<div>
			<p>
				<a href="mailto:dhoimir.mgomri@gmail.com">
					<img class="logos" src="./img/mail_footer.png" alt="mail"></a>
			</p>
			<p>
				<a href="https://github.com/dhoimirM" target="_blank">
					<img class="logos" src="./img/github.png" alt="github"></a>
			</p>
			<p>
				<a href="https://www.linkedin.com/in/dhoimir-mgomri-a62b79b2/" target="_blank">
					<img class="logos" src="./img/linkedin.png" alt="linkedin"></a>
			</p>
		</div>
	</div>
</div>
<div class="containerSecondaire">
	<div class="line_separation"></div>
	<div>
		<p>Designed by Dhoimir MGOMRI</p>
	</div>
</div></footer><script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script><script src="./js/timeline.js"></script><script src="./js/scrypt.js"></script></body></html>
